.forgot-container {
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.forgot-info input{
    width: 100%;
    padding: 5px 5px;
}
.reset-button{
    width: 100%;
    padding: 8px 0px;
    background-color: #006E7F;
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
    margin: 10px 0px;
}
