.fruit-container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fruit-info{
    border: 1px solid black;
    width: 500px;
    padding: 20px;
}
.fruit-info p {
    font-size: 22px;
}
.fruit-info img {
    width: 100%;
}
.update-item{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.quantity-update-button{
    padding:  8px 20px;
    border: none;
    background-color: cadetblue;
    color: white;
    cursor: pointer;
}
.quantity-input{
    padding: 5px;
    
}