.card-info-container{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    padding: 20px 10px;
    flex-direction: column;
}
.img img {
    width: 200px;
}
.delete-button{
    margin: 10px;
    padding: 6px 20px;
    border: none;
    background-color: rgba(255, 0, 0, 0.836);
    color: white;
    cursor: pointer;
}
.single-item-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}