.card-info-container{
    width: 700px;
    margin: 20px 0px;
    height: 200px;
    padding: 0px 20px;
    -webkit-box-shadow: 5px 5px 15px -5px #000000; 
box-shadow: 5px 5px 15px -5px #000000;  
  transition: 0.5s;
}
.card-info-container:hover{
    transform: scale(1.05);
}
.card-info-container{
    display: flex;
    
    align-items: center;

}
.img img {
    width: 250px;
}
.card-info{
    display: flex;
    justify-content: center;
  
    flex-direction: column;
    margin: 0px 20px;
}

.delete-button{
    display: block;
    margin: 20px 0px;
    width: 150px;
    padding: 10px 0px;
    border: none;
    background-color: rgba(255, 0, 0, 0.61);
    border-radius: 5px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: 0.4s;
}
.delete-button:hover{
    background-color: rgba(255, 0, 0, 0.486);
}
.update-btn{
    border-radius: 5px;
    display: block;
    margin: 20px 0px;
    width: 150px;
    padding: 10px 0px;
    border: none;
    background-color: #006E7F;
    color: white;
    font-size: 18px;
    cursor: pointer;
   transition: 0.4s;
}
.update-btn:hover{
    background-color:#006e7fc2 ;
}